.cotarot{
    background-color:#ff1745b4;
  
    height: 15px;
    width: 100px;
}
.tochen{
     background-color: #6fbf73a4;
    height: 15px;
    width: 100px;
}
.pTeachers{
    font-size: xx-large; 
}
